.header-section {
  background-image: url("../../images/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px;
  margin-top: -72px;
  padding: 206px 0 0 0;
  background-color: #e5e5e5;
}
.text {
  font-weight: 300;
  font-style: 20px;
  line-height: 120%;
  color: #646464;
}

.section_two {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
}
img {
  width: 1110px;
}

.faq-section {
  background-color: #e5e5e5;
}

.list {
  display: flex;
  justify-content: center;
}
.section_four{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.section_five {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  width: 100%;
}

.section_seven {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.faq-section {
  padding-bottom: 100px;
  // antd customize
  .ant-collapse-ghost > .ant-collapse-item {
    border-bottom: 1px solid #b6bfd9;
    border-radius: 0px;
  }

  .ant-collapse > .ant-collapse-item:last-child,
  .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 0px;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: 24px;
    line-height: 120%;
  }

  .collapse-block {
    display: flex;
  }

  .titles {
    text-align: center;
    justify-content: center;
  }

  .sidebar {
    width: 300px;
    margin-right: 78px;
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 120%;
    color: #1d212a;
  }

  .collapse {
    width: 100%;
  }
}


